<a href="https://colab.research.google.com/github/aalokhya/Python/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.STAR PATTERNS

In [63]:
# increasing triangle
n = 5
for i in range( n):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [64]:
# Decreasing Triangle
n = 5
for i in range(n):
    for j in range(i,n):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [65]:
# Right Triangle
n = 5
for i in range(n):
    for j in range(i,n):
        print(" ", end=" ")
    for j in range(i + 1):
        print("*", end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [66]:
# left Triangle
n = 5
for i in range(n):
    for j in range(i + 1):
        print(" ", end=" ")
    for j in range(i,n):
        print("*", end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [60]:
# Hill Pattern
n = 5
for i in range(n):
  for j in range(i,n):
    print(" ",end = " ")
  for j in range(i):
        print("*", end=" ")
  for j in range(i+1):
    print("*",end = " ")
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [61]:
# reverse Hill Pattern
n = 5
for i in range(n):
  for j in range(i+1):
    print(" ",end = " ")
  for j in range(i,n-1):
        print("*", end=" ")
  for j in range(i,n):
        print("*", end=" ")
  print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [40]:
# Butterfly Pattern
n = 5
for i in range(n-1):
  for j in range(i + 1):
    print("*",end = " ")
  for j in range(2 * (n - i - 1)):
        print(" ", end=" ")
  for j in range(i + 1):
        print("*", end=" ")
  print()

for i in range(n):
  for j in range(i,n):
    print("*",end = " ")
  for j in range(2 * i):
        print(" ", end=" ")
  for j in range(i, n):
        print("*", end=" ")

  print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [57]:
# sand glass Pattern
n = 5
for i in range(n-1):
  for j in range(i+1):
    print(" ",end = " ")
  for j in range(i,n-1):
        print("*", end=" ")
  for j in range(i,n):
        print("*", end=" ")
  print()
for i in range(n):
  for j in range(i,n):
    print(" ",end = " ")
  for j in range(i):
        print("*", end=" ")
  for j in range(i+1):
    print("*",end = " ")
  print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [59]:
# Diamond Pattern
n = 5
for i in range(n-1):
  for j in range(i,n):
    print(" ",end = " ")
  for j in range(i):
        print("*", end=" ")
  for j in range(i+1):
    print("*",end = " ")
  print()
for i in range(n):
  for j in range(i+1):
    print(" ",end = " ")
  for j in range(i,n-1):
        print("*", end=" ")
  for j in range(i,n):
        print("*", end=" ")
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

2.NUMBER PATTERNS

In [72]:
# same number increasing
n = 5
for i in range(n):
  for j in range(i+1):
    print(i+1, end = " ")
  print()

'''
n = 5
p = 1
for i in range(n):
  for j in range(i+1):
    print(p, end = " ")
    p +=1
  print()

'''

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

'\nn = 5\np = 1\nfor i in range(n):\n  for j in range(i+1):\n    print(p, end = " ")\n    p +=1\n  print()\n\n'

In [78]:
# same number decreasing
n = 5
p = 5
for i in range(n):
  for j in range(i+1):
    print(p, end = " ")
  p -=1
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [82]:
# increment by 2
n = 5
p = 0
for i in range(n):
  for j in range(i+1):
    print(p, end = " ")
  p += 2
  print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [84]:
# conditional
n = 5
for i in range(n):
  for j in range(i+1):
    if(i%2 == 0 ):
      print('1',end = " ")
    else:
      print('2', end = " ")
  print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [85]:
# Diamond pattern

n=5
p=1
for i in range (n-1):
   for j in range (i,n):
      print (' ', end = ' ')
   for j in range (i):
      print (p, end = ' ')
   for j in range (i+1):
      print (p, end = ' ')
   p+=1
   print()
for i in range (n):
   for j in range (i+1):
      print (' ', end = ' ')
   for j in range (i,n-1):
      print (p, end = ' ')
   for j in range (i,n):
      print (p, end = ' ')
   p+=1
   print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [89]:
# inc and dec of numbers

n=5
p=1
for i in range (n-1):
    for j in range (i,n):
        print (' ', end = ' ')
    for j in range (i):
        print (p, end = ' ')
    for j in range (i+1):
        print (p, end = ' ')
    p+=1
    print()
for i in range (n):
    for j in range (i+1):
        print (' ', end = ' ')
    for j in range (i,n-1):
        print (p, end = ' ')
    for j in range (i,n):
        print (p, end = ' ')
    p-=1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [90]:
# col pattern
n = 5
for i in range(n):
   p=1
   for j in range(i+1):
      print(p, end=' ')
      p+=1
   print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [92]:
n = 5
for i in range(n):
     p=1
     for j in range(i):
        print(' ', end=' ')
     for k in range(i, n):
        print(p, end=' ')
        p+=1
     print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [93]:
n = 5
for i in range(n):
   p=1
   for j in range(i, n):
      print(' ', end=' ')
   for j in range(i):
      print(p, end=' ')
      p+=1
   for j in range(i+1):
      print(p, end=' ')
      p+=1
   print(' ')

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [94]:
n = 5
for i in range(n):
   p=5
   for j in range(i+1):
      print(p, end=' ')
      p-=1
   print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [95]:
n=5
k=5
for i in range (n):
   p = k
   for j in range (i+1):
      print (' ', end = ' ')
   for j in range (i,n):
      print (p, end = ' ')
      p-=1
   k-=1
   print()

  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

In [96]:
n = 5
for i in range(n):
  p=1
  for j in range(i, n):
     print(' ', end=' ')
  for j in range(i):
     print(p, end=' ')
     p+=1
  for j in range(i+1):
     print(p, end=' ')
     p-=1
  print()

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [114]:
n = 4
p = 1

for i in range(1, n + 1):
    for j in range(i):
        print(p, end=" ")
        p += 1
    print()

1
2 3
4 5 6
7 8 9 10